footer {
    background-color: rgb(130,95,155);
}

.footer-img {
    width: 20rem;
    height: 8rem;
    margin-top: 3rem;
}

.icons {
    color: white;
    margin-left: 2rem;
    margin-right: 3rem;
}

.chat img {
    width: 45px;
    height: 45px;
}

.footer-div {
    padding-bottom: 10px;
}

.arrowUpSpan img {
    width: 45px;
    height: 45px;
    margin-left: 40px;

}